@model ProyectoCoches_DATA.Data.Entitys.Coches


<h2>Subir Coche</h2>


<table style="padding:20px; width:10%">
    <tr style="padding:50px">
        <th>Marca</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Marca)</th>
        <th>Traccion</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Tracccion)</th>
    </tr>
    <tr>
        <th>Modelo</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Modelo)</th>
        <th>Itv</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Itv)</th>
    </tr>
    <tr>
        <th>Color</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Color)</th>
        <th>Precio</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Precio)</th>
    </tr>
    <tr>
        <th>Año</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Año)</th>
        <th>Descripcion</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Descrpcion)</th>
    </tr>
    <tr>
        <th>Kilometros</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Km)</th>
        <th>Imagen</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Imagen)</th>
    </tr>
    <tr>
        <th>Combustible</th>
        <th style="padding:15px">@Html.TextBoxFor(m => m.Combustible)</th>
    </tr>
</table>

<div>
    <div>
        <input type="submit" class="btn btn-default" value="Subir" />
    </div>
</div>